*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}
::-webkit-scrollbar-thumb {
  background: lighten($accent, 5);
}

::-webkit-scrollbar-thumb:hover {
  background: lighten($accent, 10);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  &.active {
    overflow: hidden;
  }
}
.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}
.btn-reset {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 0;
}
.btn-deff {
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 15px 35px;
  transition: 0.2s ease;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  &.btn-white {
    background-color: $white;
    color: $accent;
    border: 1px solid $accent;

    &:hover {
      background-color: $accent;
      color: $white;
      border: 1px solid $white;
    }
    &:active {
      transform: scale(0.9);
    }
  }
  &.btn-black {
    background-color: $accent;
    color: $white;
    border: 1px solid $white;
    &:hover {
      background-color: $white;
      color: $accent;
      border: 1px solid $accent;
    }
    &:active {
      transform: scale(0.9);
    }
  }
  @media (max-width: 424px) {
    padding: 10px 30px;
    font-size: 15px;
    letter-spacing: 0;
  }
}
.first-head {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 15px;
  color: #333333;
  @media (max-width: 767px) {
    font-size: 18px;
    margin-bottom: 9px;
  }
}
.title {
  text-align: center;
  font-family: "Noto";
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 60px;
  color: #333333;
  @media (max-width: 767px) {
    font-size: 25px;
    margin-bottom: 40px;
  }
}
