$accent: #333333;
$white: white;
$overlay: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%);
$overlay-rotate: linear-gradient(
  90deg,
  rgba(180, 180, 180, 0) 20.31%,
  #333333 100%
);
