.intro {
  padding: 100px 0;
  background: url(../img/section-bg.jpg) no-repeat center center / cover;
  &__inner {
    text-align: center;
    .first-head,
    .title,
    p {
      text-align: center;
      color: $white;
    }
    p {
      margin: 0 auto;
      max-width: 730px;
      margin-bottom: 60px;
      font-size: 18px;
      line-height: 140%;
    }
    .title {
      margin-bottom: 45px;
    }
    a {
      background-color: $white;
    }
  }
}
