.nav {
  .hide {
    display: none;
  }

  transition: 0.5s ease;
  @media (max-width: 1150px) {
    position: absolute;
    right: 15px;

    top: 75px;
    height: 0;
    width: calc(50% - 30px);
    overflow: hidden;
  }
  &.active {
    height: 200px;
  }
  @media (max-width: 1023px) {
    top: 90px;
    width: calc(100% - 30px);
  }
  @media (max-width: 550px) {
    top: 60px;
  }
  @media (max-width: 424px) {
    .hide {
      display: block;
      button {
        font-size: 14px;
        color: $accent;
      }
      img {
        display: none;
      }
    }
  }
  ul {
    display: flex;
    column-gap: 60px;
    @media (max-width: 1279px) {
      column-gap: 40px;
    }
    @media (max-width: 1150px) {
      margin-top: 10px;
      flex-direction: column;
      background-color: $white;
      padding: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        z-index: 2;
        top: -16px;
        right: 3px;
        border: 7px solid transparent;
        border-bottom: 10px solid $white;
      }
    }
    li {
      position: relative;
      @media (max-width: 1150px) {
        border-bottom: 1px solid $accent;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      a {
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: $white;
        @media (max-width: 1150px) {
          color: $accent;
        }
      }
      &::before {
        content: "";
        transition: 0.2s ease;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 0%;
        height: 1px;
        background-color: $white;
      }
      &:hover {
        &::before {
          width: 100%;
        }
      }
    }
  }
}
