.page {
  padding-top: 25px;
  min-height: 950px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../img/bgc.jpg) no-repeat center center / cover;
}
